<!doctype html>
<html>
  <head> 
  <title>{{ page.title }} </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/css/styles.css">
  <style>
  a:link, a:visited {
    background-color: #f44336;
    color: white;
    padding: 15% 65%;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-family: oswald;
  }
  a:hover, a:active {
    background-color: red;
    font-family: oswald;
  }
</style>
  </head>
  <body style="background-color:RebeccaPurple;"> 
    <header> <h1> {{ page.title }}.</h1>
    </header> 
    <section>
    <nav> 
    {% include navigation.html %} 
    </nav>
    <div style="background-color:RebbecaPurple;color:white;padding:20px; border-style: solid; border-width: 15px; border-left-width: 0px; margin-left: 30%; margin-right: 5%;">
    {{ content }}
    </div> 
    </section>
  <footer>
  <h1 style="background-color:rgba(255, 99, 71, 0.7); color:rgba(255, 99, 71, 0.3); text-align: center;"> homeboy.</h1>
  <h1 style="background-color:rgba(255, 99, 71, 0.6); color:rgba(255, 99, 71, 0.3); text-align: center;"> homeboy.</h1>
  <h1 style="background-color:rgba(255, 99, 71, 0.4); color:rgba(255, 99, 71, 0.3); text-align: center;"> homeboy.</h1>
  <h1 style="background-color:rgba(255, 99, 71, 0.2); color:rgba(255, 99, 71, 0.3); text-align: center;"> homeboy.</h1>
  <h1 style="background-color:rgba(255, 99, 71, 0.1); color:rgba(255, 99, 71, 0.3); text-align: center;"> homeboy.</h1>
  </footer> 
  </body>
</html>